h1 {
  color:red;
}

body {
  text-align:center;
  width: 100%;
  height: 100%;
  margin: 0;
}


section#details {
  background-color:red;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:auto;
  padding-left:50px;
  padding-right:50px;
)